<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ca663af4-1306-4dfe-8a9d-19990935c081/resourceGroups/AlphaSourceResourceGroup/providers/Microsoft.Web/sites/AlphaSourceDec1</ResourceId>
    <ResourceGroup>AlphaSourceResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/ca663af4-1306-4dfe-8a9d-19990935c081/resourceGroups/AlphaSourceResourceGroup/providers/Microsoft.ApiManagement/service/AlphaSourceLibPromoCodeapi/apis/alphasourcev5</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://alphasourcedec1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>9c3b4c5b-b520-4a5f-8be8-7f1cd430b250</ProjectGuid>
    <MSDeployServiceURL>alphasourcedec1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AlphaSourceDec1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AlphaSourceDec1</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>